.politicaPrivacidade {
    background-color: white;
    margin: 10px;
}

.politicaPrivacidade p {
    text-align: left;
}
 
.politicaPrivacidade h1, 
.politicaPrivacidade h3, 
.politicaPrivacidade label, 
.politicaPrivacidade h2,
.politicaPrivacidade h4,
.politicaPrivacidade b
{
    margin: 15px;
}

.formularioPrivacidade {
    height: 1400px;
    width: 640px;
}

@media (max-width: 768px) {
    .formularioPrivacidade {
        max-width: 280px;
    }
}